/* style file */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: gray;
}

h1 {
    font-size: 38px;
    font-weight: bolder;
    color: black;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    display: flex;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    color: black;
    font-size: 10px;
    margin-bottom: 30px;
}

footer {
    display: flex;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    bottom: 0;
    color: black;
    font-size: 10px;
    margin-top: 30px;
}

.url {
    background-color: darkgray;
    text-decoration: underline;
    color: black;
}

.container {
    display: flex;
}